.featurette{
    justify-content: center;
    padding-bottom: 30px;
    background-image: url("images/mojave.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
    align-items: center;   
}
.text{
    position: absolute;
    top:100px;
    left: 50%;
    transform: translate(-50%);
    z-index: 5;
}
.bg{
    position: absolute;
    top:100px;
    left: 50%;
    transform: translate(-50%);
    background-color:lightgray;
    opacity: 30%;
    border-radius: 3rem;
    z-index: 3;
}

@media (min-width: 1200px) {
    .featurette{
        height: 1200px;
    }
    .bg{
        width: 1200px;
        height: 1000px;
    }
    .text{
        width: 1150px;
        height: 1000px;
    }    
}
@media (max-width: 1200px){
    .featurette{
        height: 1200px;
    }
    .bg{
        width: 800px;
        height: 1000px;
    }
    .text{
        width: 770px;
        height: 1000px;
    }
}

@media (max-width: 800px){
    .featurette{
        height: 1200px;
    }
    .bg{
        width: 700px;
        height: 1000px;
    }
    .text{
        width: 680px;
        height: 1000px;
    }
}

h2.name{
    padding: 20px;
    font-weight: 700;
    font-size: 7.3rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
h2.lead{
    padding: 20px;
    margin:3px;
    font-weight: 400;
    font-size: 1.5rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}





.container1{
    /* padding: 0px; */
    position: fixed;
    background-color: rgba(128, 128, 128, 0.8);
    z-index: 100;
    width: 100vw;
    
}

.nav-pills .nav-link {
    color: white;
    font-size: 20px;
}

.nav-pills .nav-link.active{
    background-color: black !important;
}

.nav-pills .nav-link.active:hover{
    background-color: white !important;
    color: black;
}

.nav-pills .nav-link:hover{
    color: black;
}



#bottom-comment{
    font-weight: 300;
    font-size: small;
    text-align: center;
}


