@media (max-width:1200px) {
    .plotted_img{
        text-align: center;
        width: 90vw;
        padding-left: 5vw;
        padding-right: 20px;
    }
    
}

@media (min-width:1200px) {
    .plotted_img_div{
        text-align: center;
    }
    .plotted_img{
        text-align: center;
        max-width: 1200px;
        
    }
    
}
.main-title{
    text-align: center;
    font-size: 3.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title{
    text-align: center;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.technology{
    text-align: center;
    font-weight: 100;
}

.btn-options{
    text-align: center;
}
.checkbox{
    text-align: center;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    margin: 3px;
    border-radius: 2px;
    border-color: gray;
    background: #f6f6f6;
    width: 100px;
    height: 35px;
    font-size: 0.8rem;
    color: black;
    font-weight: 600;
    justify-content: right;
    align-content: right;
    font-family: Arial, Helvetica, sans-serif;
}


.scroll-container {
    width: 100%; 
    height: 150px; 
    overflow-x: auto; 
    display: flex; 
    align-items: center; 
    white-space: nowrap; 
}

/* Style for individual items within the container */
.item {
    flex: 0 0 auto; 
    width: 200px; 
    height: 100px; 
    margin-right: 20px; 
    background-color: #f0f0f0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border: 1px solid #ccc; 
}

#plotly-pie{
    width:720px;
    height:750px;
    justify-content: center;
    text-align: center;
    border: none;
}

#plotly-stock{
    width:90%;
    height:650px;
    justify-content: center;
    text-align: center;
    border: none;
    z-index: 1;
}

.iframe-control{
    justify-content: center;
    text-align: center;
}

.matplotlib-pie{
    text-align: center;
    margin-top: 100px;
    margin-left: 130px;
    margin-bottom: 35px;
}

#plotly-bar{
    width:1000px;
    height:650px;
    margin-left: -80px;
    justify-content: center;
    text-align: center;
    border: none;
}

.featurette-divider{
    width: 70%;
}

#bottom-comment{
    font-weight: 200;
    font-size: x-small;
    text-align: center;
}

.subtitle{
    text-align: center;
}

.explanation{
    text-align: left;
    font-weight: 300;
    margin-left: 13%;
}

.caption #upper-exp{
    margin-top: 50px;
    margin-bottom: -20px;
    color: blue;
}

.caption{
    margin-bottom: -70px;
    margin-left: 15%;
    z-index: 100;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
}
.caption h3{
    z-index: 100;
    font-family: Arial, Helvetica, sans-serif;
}

.intro{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 22px;
    
}

.after-thought h3{
    margin-left: 13%;
    margin-right: 13%;
    font-size: 23px;
    text-align: center;
    font-weight: 200;
    
}
.after-thought{
    text-align: center;
    margin-bottom: 100px;
    margin-top: -10px;
}

.caveat{
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
}

.go-top{
    font-size: 2rem;
}